/* attribute from favicon Icongeek26 
Creaticca Creative Agency
Freepik*/

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* sets base font size to 10px */
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(
    to right,
    rgb(120, 152, 171),
    rgb(3, 98, 154)
  );

  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 8.5rem;
}

h1,
h3,
.result {
  color: white;
}

.container {
  padding: 3.5rem;
}

.round {
  font-size: 4rem;
  margin: 2.5rem 0;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Card Section */
.card {
  background-color: #f9dddd;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  height: auto;
  width: 70rem;
  padding: 2rem;
  border-radius: 2rem;
  margin: 2.5rem 5rem;
}

.card .player {
  font-size: 2rem;
  font-weight: bold;
}

.card .choice,
.card .score {
  font-size: 3.5rem;
}

.card .selection {
  transition: transform 0.2s ease;
  padding: 1.5rem;
  cursor: pointer;
}

/* computer selection */
.card .selection.computer,
.card .selection.computer:hover {
  transition: unset;
  cursor: unset;
  transform: unset;
}

@keyframes zoominoutsingle {
  0% {
    transform: scale(1, 1);
  }
  50% {
    background-color: rgb(120, 152, 171);
    border-radius: 2rem;
    transform: scale(1.2);
  }
  100% {
    background-color: unset;
    transform: scale(1, 1);
  }
}

@keyframes zoominoutsingleresult {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    background-color: unset;
    transform: scale(1);
  }
}
.zoomAnimate {
  animation: zoominoutsingle 0.5s;
}

.zoomAnimateResult {
  animation: zoominoutsingleresult 0.5s ease;
}

@keyframes zoomInModal {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

.modalZoom {
  animation: zoomInModal 0.25s ease;
}

.card .selection:hover {
  transform: scale(1.5);
}

.result {
  font-size: 2.5rem;
  margin: 3rem;
  font-weight: bold;
}

.card .selections {
  display: flex;
  justify-content: space-evenly;
}

img {
  height: auto;
  width: 8.5rem;
}

.resetButton {
  font-size: 2.5rem;
  padding: 1.5rem 5.5rem;
  border-radius: 1.5rem;
  border: unset;
  background: rgb(120, 152, 171);
  color: white;
  cursor: pointer;
}

.resetButton:hover {
  background: rgb(3, 98, 154);
}

/* Modal styles */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 35rem; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #fefefe;
  margin: auto;
  padding: 5rem;
  border: 1px solid #888;
  width: 50rem;
  border-radius: 1rem;
}

.modalMessage {
  font-size: 2rem;
}
